body {
   counter-reset: h2counter;
   background: white;
   font-size: 12pt;
}

/* https://philarcher.org/diary/2013/headingnumbers/ */
/* http://philarcher.org/css/numberheadings.css */
/* License Creative Commons v3.0 http://creativecommons.org/licenses/by/3.0/ */
body {counter-reset: h2}
h2 {counter-reset: h3}
h3 {counter-reset: h4}
h4 {counter-reset: h5}
h5 {counter-reset: h6}
h2:before {counter-increment: h2; content: counter(h2) ". "}
h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {content: ""; counter-increment: none}

#menu {
   display: none;
}

#wrapper,
#content {
   width: auto;
   margin: 0 5%;
   padding: 0;
   border: 0;
   float: none !important;
   color: black;
   background: transparent none;
}

div#content {
   margin-left: 10%;
   padding-top: 1em;
   border-top: 1px solid #930;
}

div#mast {
   margin-bottom: -8px;
}

div#mast img {
   vertical-align: bottom;
}

a:link,
a:visited {
   color: #520;
   background: transparent;
   font-weight: bold;
   text-decoration: underline;
}

#content a:link:after,
#content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
}

#content a[href^="/"]:after {
   content: " (https://jfishe.github.io/Richland_prefab_2br" attr(href) ") ";
}
